<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
    <form  th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти"/>
    </form>
    <hr>
    <form th:method="POST" th:action="@{/admin/edit?id={id}(id=${user.id})}" th:object="${user}">
        <table th:border="0" th:cellpadding="3">
            <tr>
                <td>Имя: </td>
                <td><input type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td>Почта: </td>
                <td><input type="text" th:field="*{email}"/></td>
            </tr>
            <tr>
                <td>Возраст: </td>
                <td><input type="number" th:field="*{age}"/></td>
            </tr>
            <tr>
                <td>Статус: </td>
                <td><input type="text" th:field="*{status}"/></td>
            </tr>
            <tr>
                <td>Пароль: </td>
                <td><input type="password" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td>Роли: </td>
                <td>
                    <select th:field="*{roles}" required multiple="multiple">
                        <option th:each="role : ${allRoles}"
                                th:value="${role.id}"
                                th:text="${role.name.substring(5)}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <br/>
        <input type="submit" value="Изменить">
    </form>
</body>
</html>