<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
    <form  th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выйти"/>
    </form>
    <hr>
    <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
        <table th:border="0" th:cellpadding="3">
            <tr>
                <td>Имя: </td>
                <td><input type="text" th:field="*{username}" required minlength="2" maxlength="32"/></td>
            </tr>
            <tr>
                <td>Почта: </td>
                <td><input type="email" th:field="*{email}" required/></td>
            </tr>
            <tr>
                <td>Возраст: </td>
                <td><input type="number" th:field="*{age}" required min="1" max="127"/></td>
            </tr>
            <tr>
                <td>Статус: </td>
                <td><input type="text" th:field="*{status}" maxlength="32"/></td>
            </tr>
            <tr>
                <td>Пароль: </td>
                <td><input type="text" th:field="*{password}" required/></td>
            </tr>
            <tr>
                <td>Роли: </td>
                <td>
                    <select th:field="*{roles}" multiple="multiple" required>
                        <option th:each="role : ${allRoles}"
                                th:value="${role.id}"
                                th:text="${role.name.substring(5)}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <br/>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>